@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --Pink: hsl(322, 100%, 66%);
  --Very-Pale-Cyan: hsl(193, 100%, 96%);
  --Very-Dark-Cyan: hsl(192, 100%, 9%);
  --Grayish-Blue: hsl(208, 11%, 55%);
}

h1,
h2,
h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
body {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
 

}


img {
  height: 100%;
  width: 100%;

}
.container {
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 30px;
}

#header {
  width: 100%;
  height: 100vh;
  padding: 100px 0;
  background-image: url(./images/bg-hero-desktop.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: var(--Very-Pale-Cyan);
  display: block;
}

#header .container {
  min-height: calc(100vh - 200px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.nav {
  position: absolute;
  top: 0;
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav .logo {
  width: 120px;
}

.hero {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
}
.hero-img {
  flex: 3;
  margin-top: 2rem;
}
.hero-info {
  flex: 2;
}
.hero .hero-info h1 {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 1.3rem;
}
.hero .hero-info p {
  font-size: 1.1rem;
  font-weight: 400;
  margin-bottom: 50px;
}
.hero .btn-hero {
  padding: 15px 50px;
  font-size: 1rem;
 
} 

a {
  text-decoration: none;
  color: black;
}

.button {
  padding: 10px 45px;
  border-radius: 50px;
  background-color: var(--Pink);
  color: white;
  font-weight: 700;
  box-shadow: -2px 2px 20px 0px pink;
  font-size: 0.9rem;
}

.logo {
  width: 110px;
}

.btn-header {
  background-color: var(--VeryPaleCyan);
  color: black;
}

.hero-info h1 {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 1.3rem;
}
.hero-info p {
  font-size: 1.1rem;
  font-weight: 400;
  margin-bottom: 50px;
}
.btn-hero {
  padding: 15px 50px;
  font-size: 1rem;
}

#cards {

  padding: 100px 0;}

.card-item {
  padding: 50px 30px ;
  box-shadow: -2px 2px 20px 0px #00000013;
  margin-bottom: 50px;
  border-radius: 10px;
  display: flex;
  text-align: center;
}
.card-item:nth-child(even) {
  flex-direction: row-reverse;
}
.card-info {
  margin-top: 70px;
}
.card-info p {
  font-size: .9rem;
  font-weight: 400;
  line-height: 1.5rem;
  color: var(--Grayish-Blue);
}
.card-info h3 {
  font-size: 1.3rem;
  margin-bottom: 20px;
}
#cta-card {
  display: flex;
  padding: 50px 0;
  margin-bottom: -100px;
}
.last-card {
  width: 100%;
  padding: 30px;
  text-align: center;
  box-shadow: -2px 2px 20px 0px #00000013;
  background-color: white;
  border-radius: 10px;
}
.last-card h2 {
  font-size: 1.3rem;
  margin-bottom: 30px;
}
#footer {
  background-color: var(--Very-Dark-Cyan);
  color: white;
  padding: 100px 30px 0;
}
.container-3 {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.footer-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.footer-1 {
  margin-top: 30px;
}

.footer-1 ul li {
  margin-top: 25px;
  list-style: none;
}
.contact {
  display: flex;
  align-items: start;
  justify-content: start;
}
.contact i {
  margin-top: 10px;
}
.contact p {
  font-size: 1.2rem;
  margin-left: 20px;
  flex: 1;
}
.footer-2 li,
.footer-3 li {
  margin-top: 18px;
  list-style: none;
}
.footer-2 a,
.footer-3 a {
  color: white;
}
.footer-4 {
  margin-top: 80px;
  text-align: center;
  font-size: 40px;
}
.footer-copyright {
  margin-top: 20px;
  text-align: center;
  font-size: 0.8rem;
}
.logo-footer {
  background-color: var(--Very-Pale-Cyan);
  text-align: center;
}

@media screen and (max-width:768px) {
  #header {
    background-image: url(./images/bg-hero-mobile.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .hero {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .hero .hero-info {
    text-align: center;
  }
  .card-item {
    flex-direction: row;
    padding: 50px 100px;
    justify-content: center;
    align-items: center;
    text-align: left;
  }
  .card-info {
    margin-right: 50px;
  }
  .card-info h3 {
    font-size: 1.7rem;
  }
  .card-info p {
    font-size: 1rem;
  }
  .card-item:nth-child(even) {
    flex-direction: row-reverse;
  }
  .card-item:nth-child(even) .card-info {
   margin-left: 50px;
  }
  .last-card {
    padding: 50px;
  }
  .last-card h2 {
    font-size: 2rem;
    margin-bottom: 50px;
  }
  .last-card a {
    display: inline-block;
    padding: 20px 6opx;
    font-size: 1.2rem;
  }
  .footer-info {
    flex-direction: row;
  }
  .footer-1,
  .footer-2,
  .footer-3,
  .footer-4 {
    flex: 1;
    margin-left: 50px;
  }
  .footer-1{
    flex: 2.5;
    margin: 0;
  }
  .footer-2,
  .footer-3,
  .footer-4 {
    margin-top: 70px;
  }
  .footer-copyright {
    text-align: right;
  }
}

